@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"); /*Inter*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"); /*Noto Serif*/

.font-container_font_inter {
  font-family: "Inter", Arial, sans-serif;
}

.font-container_font_noto-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.font-container__text_weight_bold {
  font-weight: bold;
}
